
<section id="exporter-info">
	<h4 align="center">New Contract</h4>
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<td><label>Shipment Id</label></td>
				<td>{{lc.shipmentId}}</td>
			</tr>
			<tr>
				<td><label>Content Description</label></td>
				<td>{{lc.contentDesc}}</td>
			</tr>
			<tr>
				<td><label>Content Value (USD)</label></td>
				<td>{{lc.contentValue}}</td>
			</tr>
			<tr>
				<td><label>Importer Company</label></td>
				<td>{{lc.importerCompany}}</td>
			</tr>
			<tr>
				<td><label>Freight Company</label></td>
				<td>{{lc.freightCompany}}</td>
			</tr>
			<tr>
				<td><label>Port Of Entry</label></td>
				<td>{{lc.portOfEntry}}</td>
			</tr>
			<tr>
				<td><label>Importer Bank Balance (USD)</label></td>
				<td id="balance">250,000</td>
			</tr>
			<tr>
				<td><label>Customs Amount (USD)</label></td>
				<td>1,500</td>
			</tr>
		</table>
		<div class="text-center">
			<div class="btn-group">
				<button type="button" class="btn btn-primary" style="margin-right: 10px" id="approveLC">Initiate Payment</button>
				<button type="button" class="btn btn-danger"  style="margin-left: 10px" id="rejectLC">Reject</button>
			</div>
		</div>
	</div>
</section>
<section id="documents-info">
	<h4 align="center">Documents</h4>
	<form name="documentsForm">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>FileName</th>
					<th>Upload</th>
					<th>View File</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Letter of Credit</td>
					<td>Upload
						<input type="file" required accept="image/*" id="letterOfCredit" data-url="/fileUpload" name="loc" disabled>
						{{#if lcFileName}}
							<div id="fileUploadsLC">        
								<div class="upload"><span class="glyphicon glyphicon-ok"></span>&nbsp;{{lcFileName}}</div>
							</div>
						{{else}}        
							<div id="fileUploadsLC"></div>
						{{/if}}
					</td>
					<td><button type="button" class="btn btn-warning" id="loadLC">View</button></td>
				</tr>
				<tr>
					<td>Bill of Lading</td>
					<td>Upload
						<input type="file" required accept="image/*" id="billOfLading" data-url="/fileUpload" name="bol">
						{{#if blFileName}}
							<div id="fileUploadsBL">        
								<div class="upload"><span class="glyphicon glyphicon-ok"></span>&nbsp;{{blFileName}}</div>
							</div>
						{{else}}        
							<div id="fileUploadsBL"></div>
						{{/if}}
					</td>
					<td><button type="button" class="btn btn-warning" id="loadBL">View</button></td>
				</tr>
				<tr>
					<td>Insurance</td>
					<td>Upload
						<input type="file" required accept="image/*" id="insurance" data-url="/fileUpload" name="ins">
						{{#if insFileName}}
							<div id="fileUploadsIns">        
								<div class="upload"><span class="glyphicon glyphicon-ok"></span>&nbsp;{{insFileName}}</div>
							</div>
						{{else}}        
							<div id="fileUploadsIns"></div>
						{{/if}}
					</td>
					<td><button type="button" class="btn btn-warning" id="loadIns">View</button></td>
				</tr>
			</tbody>
		</table>
	</form>
	<div id="statusPanel" style="display:table">
		<div id="descriptionRow" style="display:table-row">
			<div style="display: table-cell; font-weight:bold; font-size:1.1em" class="center">Letter of Credit Approved</div>
			<div style="display: table-cell;" class="center">
				<i class="fa fa-arrow-right"></i>
			</div>
			<div style="display: table-cell; font-weight:bold; font-size:1.1em" class="center">Exporter Documents	Uploaded</div>
			<div style="display: table-cell;" class="center">
				<i class="fa fa-arrow-right"></i>
			</div>
			<div style="display: table-cell;  font-weight:bold; font-size:1.1em" class="center">Customs Approved</div>
			<div style="display: table-cell;" class="center">
				<i class="fa fa-arrow-right"></i>
			</div>
			<div style="display: table-cell;  font-weight:bold; font-size:1.1em" class="center">Payment Complete</div>
		</div>
		<div id="statusRow" style="display:table-row">
			<div style="display: table-cell;" class="center">
				<i id="ebState1" class="fa fa-check fa-2x" style="display:{{st.ebState1}}"></i>
				<i id="ebState2" class="fa fa-close fa-2x" style="display:{{st.ebState2}}"></i>
			</div>
			<div style="display: table-cell"></div>
			<div style="display: table-cell;" class="center">
				<i id="eDocState1" class="fa fa-check fa-2x" style="display:inline"></i>
				<i id="eDocState2" class="fa fa-close fa-2x" style="display:none"></i>
			</div>
			<div style="display: table-cell"></div>
			<div style="display: table-cell;" class="center">
				<i id="cusState1" class="fa fa-check fa-2x" style="display:{{st.cusState1}}"></i>
				<i id="cusState2" class="fa fa-close fa-2x" style="display:{{st.cusState2}}"></i>
			</div>
			<div style="display: table-cell"></div>
			<div style="display: table-cell;" class="center">
				<i id="payState1" class="fa fa-check fa-2x" style="display:{{st.payState1}}"></i>
				<i id="payState2" class="fa fa-close fa-2x" style="display:{{st.payState2}}"></i>
			</div>
		</div>
	</div>
</section>
{{#section 'jquery'}}
<script type="text/javascript">
	
	function changeProcessFlowState(statusFlag) {
		if (statusFlag == 'true') {
			$("#payState1").css("display", "inline");
			$("#payState2").css("display", "none");	
		} else {
			$("#payState1").css("display", "none");
			$("#payState2").css("display", "inline");	
		}
		$('#balance').text('148,500');
	}
	
	$(document).ready(function() {
		$("#approveLC").on("click", function()
		{
			var obj = {
				type : 'updateStatus',
				req : {
					shipmentId : $("#shipmentId").text(),
					status : 'PaymentComplete',
					value : 'true'
				}
			};
	        ws.send(JSON.stringify(obj));
		});
		
		$("#rejectLC").on("click", function()
		{
			var obj = {
				type : 'updateStatus',
				req : {
					shipmentId : $("#shipmentId").text(),
					status : 'PaymentComplete',
					value : 'false'
				}
			};
	        ws.send(JSON.stringify(obj));
		});
            
        $("#loadLC").on("click", function() {
    		 $.colorbox({href:"/getDocument?file=letterofcredit.jpg"});
         });
       	$("#loadBL").on("click", function() {
       		 	$.colorbox({href:"/getDocument?file=billoflading.png"});
       	});
       	$("#loadIns").on("click", function() {
       		 	$.colorbox({href:"/getDocument?file=insurance.jpg"});
       	});
	});
	
</script>
{{/section}}